[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask = "2.0.0"
Flask-Cors = "3.0.10"
PyGithub = "1.55"
python-jose = "3.3.0"
folium = "0.12.1"
gunicorn = "20.1.0"
pandas = "1.2.5"

[requires]

python_version = "3.6"